:root {
    --background-color: #292d3e;
    --primary-color: #212432;
    --secondary-color:  #30364c;
    --text-color: #bfc7d5;
    --text-emphasis-color: #f07178;
    --default-user-text-color: #c792ea;
    --fav-user-text-color: #ffcb6b;
    --bot-user-text-color: #82aaff;
}