:root {
    --background-color: #1B2240;
    --primary-color: #060F2F;
    --secondary-color: #292f4d;

    --text-color: #959DAA;
    --text-emphasis-color: #f07178;
    --default-user-text-color: #c792ea;
    --fav-user-text-color: #89ddff;
    --bot-user-text-color: #82aaff;
}
